include ../../../../views/shared/global/jade-helpers.jade
- dataObj = data;

mixin carouselWrap(contentBlock)
  - isCarousel = locals.isArray(contentBlock.media);

  if isCarousel
    .inline-carousel-wrap
      .inline-carousel
        for slide in contentBlock.media
          .carousel-slide
            +responsiveImg(slide)
      .caption-container
        for item in contentBlock.media
          span.caption.t6.t6-grey.t6-marginless.fade.invisible!= item.caption
  else 
    .inline-image-wrap


section.detail-article-content
  - themedBlocks = locals.findWhere(dataObj.blocks, {'type':'themed'});
  - ctaBlocks = locals.findWhere(dataObj.blocks, {'type':'cta-block'});

  for contentBlock, i in dataObj.blocks
    - contentBlockMedia = contentBlock.media
    - contentType = contentBlock.type

    if contentType === 'content'
      .container
        .row.marginless
          .columns.seven
            h3.t2= contentBlock.title
        .row
          .columns.five.offset-by-one
            p.p3.p3-marginless-top!= contentBlock.body
          .columns.five.offset-by-one
            +carouselWrap(contentBlock)
    if contentType === 'media-tout'
      .container
        .row.padded-lrg.padded-xl-top
          for mediatout in contentBlock.media
            .columns.four.image-tout
              .aspect-5x4
                .aspect-inner
                  +responsiveImg(mediatout)

  if themedBlocks.length
    .scroll-target
      for themedBlock, i in themedBlocks
        -paddingClass = (!!themedBlock.title) ? 'padded-top padded-lrg' : 'padded-lrg-top padded-xl'
        .section-wrap.themed.cujojp
          .container
            .image-group
              if themedBlock.title
                .row.marginless
                  .header-section.text-center
                    .eight.columns.offset-by-two
                      h3.t2.t2-marginless-bot.t2-light= themedBlock.title
              if themedBlock.body
                .row.padded-top
                  .header-section.text-center
                    .six.columns.offset-by-three
                      p.p3.p3-light= themedBlock.body
              if themedBlock.media
                div(class="row " + paddingClass)
                  .header-section.text-center
                    .ten.columns.offset-by-one
                      .image-tout.shadow-tout
                        +responsiveImg(themedBlock.media)
  if ctaBlocks.length
    for ctaBlock, i in ctaBlocks
      .container
        if ctaBlock.title
          .row.padded-top
            .header-section.text-center
              .eight.columns.offset-by-two
                h3.t2.t2-marginless-bot= ctaBlock.title
        if ctaBlock.body
          .row
            .header-section.text-center
              .six.columns.offset-by-three
                p.p3= ctaBlock.body
        if dataObj.anchor
          .row.padded-xl
            .header-section.text-center
              .four.columns.offset-by-four
                a(href=dataObj.anchor.href).btn.btn-gradient= dataObj.anchor.title
                  span.icon-wrap
                    +svgIcon('arrow-right', 'white size-16')
                  span.cover
